<%- include('../shared/header') %>

<section class="pt-4 pt-md-11" style="height: 70vh;">
  <div class="container" style="justify-content: center; display: flex; align-content: center; flex-wrap: wrap; height: 100%;">
    <div class="row align-items-center">
      <h1><%= title %></h1>    
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>


<%- include('../shared/footer') %>
